.DS_Store
.idea/
__pycache__/
aachen_000000_000019_gtFine_labelIds.png
aachen_000001_000019_gtFine_instanceTrainIds.pkl
cityscapesScripts/
datalist.py
edge.png
input/
save_one_hot.py
test.py
test_result/
test_result2/
test_result_256/
test_result_IN/
test_result_L1/
test_result_one_hot/
